body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgb(165, 138, 102)

}
.container {
  width: fit-content;
  height: 400px;
  padding: 50px;
  align-items: center;
  background-color: rgb(86, 172, 86);
}
h1 {
  color: white;
}
.a {
  font-style: italic;
}
.b {
  color: white;
}
